/* BUTTON */
.d-btn {
    padding: 5px 10px;
    border: 0px;
    cursor: pointer;
}

/* BACKGROUND WARNA */

.bg-white { background-color: rgb(255, 255, 255); }
.bg-black { background-color: rgb(0, 0, 0); }
.bg-blue { background-color: rgb(10, 130, 221); }
.bg-dark-blue { background-color: rgb(0, 87, 153); }
.bg-light-blue { background-color: rgb(105, 188, 252); }
.bg-red { background-color: rgb(221, 10, 10); }
.bg-dark-red { background-color: rgb(153, 0, 0); }
.bg-light-red { background-color: rgb(252, 105, 105); }
.bg-brown { background-color: rgb(221, 123, 10); }
.bg-dark-brown { background-color: rgb(153, 87, 0); }
.bg-light-brown { background-color: rgb(252, 171, 105); }
.bg-yellow { background-color: rgb(221, 207, 10); }
.bg-dark-yellow { background-color: rgb(150, 153, 0); }
.bg-light-yellow { background-color: rgb(252, 237, 105); }
.bg-green { background-color: rgb(70, 221, 10); }
.bg-dark-green { background-color: rgb(0, 153, 13); }
.bg-light-green { background-color: rgb(105, 252, 125); }
.bg-cyan { background-color: rgb(10, 221, 193); }
.bg-dark-cyan { background-color: rgb(0, 135, 153); }
.bg-light-cyan { background-color: rgb(105, 235, 252); }
.bg-purple { background-color: rgb(221, 10, 193); }
.bg-dark-purple { background-color: rgb(153, 0, 145); }
.bg-light-purple { background-color: rgb(252, 105, 220); }
.bg-pink { background-color: rgb(221, 10, 108); }
.bg-dark-pink { background-color: rgb(153, 0, 71); }
.bg-light-pink { background-color: rgb(252, 105, 174); }

/* WARNA */

.white { color: rgb(255, 255, 255); }
.black { color: rgb(0, 0, 0); }
.blue { color: rgb(10, 130, 221); }
.dark-blue { color: rgb(0, 87, 153); }
.light-blue { color: rgb(105, 188, 252); }
.red { color: rgb(221, 10, 10); }
.dark-red { color: rgb(153, 0, 0); }
.light-red { color: rgb(252, 105, 105); }
.brown { color: rgb(221, 123, 10); }
.dark-brown { color: rgb(153, 87, 0); }
.light-brown { color: rgb(252, 171, 105); }
.yellow { color: rgb(221, 207, 10); }
.dark-yellow { color: rgb(150, 153, 0); }
.light-yellow { color: rgb(252, 237, 105); }
.green { color: rgb(70, 221, 10); }
.dark-green { color: rgb(0, 153, 13); }
.light-green { color: rgb(105, 252, 125); }
.cyan { color: rgb(10, 221, 193); }
.dark-cyan { color: rgb(0, 135, 153); }
.light-cyan { color: rgb(105, 235, 252); }
.purple { color: rgb(221, 10, 193); }
.dark-purple { color: rgb(153, 0, 145); }
.light-purple { color: rgb(252, 105, 220); }
.pink { color: rgb(221, 10, 108); }
.dark-pink { color: rgb(153, 0, 71); }
.light-pink { color: rgb(252, 105, 174); }

/* PADDING RIGHT */

.pright-0 { padding-right: 0px; }
.pright-1 { padding-right: 1px; }
.pright-2 { padding-right: 2px; }
.pright-3 { padding-right: 3px; }
.pright-4 { padding-right: 4px; }
.pright-5 { padding-right: 5px; }
.pright-6 { padding-right: 6px; }
.pright-7 { padding-right: 7px; }
.pright-8 { padding-right: 8px; }
.pright-9 { padding-right: 9px; }
.pright-10 { padding-right: 10px; }
.pright-11 { padding-right: 11px; }
.pright-12 { padding-right: 12px; }
.pright-13 { padding-right: 13px; }
.pright-14 { padding-right: 14px; }
.pright-15 { padding-right: 15px; }
.pright-16 { padding-right: 16px; }
.pright-17 { padding-right: 17px; }
.pright-18 { padding-right: 18px; }
.pright-19 { padding-right: 19px; }
.pright-20 { padding-right: 20px; }
.pright-21 { padding-right: 21px; }
.pright-22 { padding-right: 22px; }
.pright-23 { padding-right: 23px; }
.pright-24 { padding-right: 24px; }
.pright-25 { padding-right: 25px; }
.pright-26 { padding-right: 26px; }
.pright-27 { padding-right: 27px; }
.pright-28 { padding-right: 28px; }
.pright-29 { padding-right: 29px; }
.pright-30 { padding-right: 30px; }
.pright-31 { padding-right: 31px; }
.pright-32 { padding-right: 32px; }
.pright-33 { padding-right: 33px; }
.pright-34 { padding-right: 34px; }
.pright-35 { padding-right: 35px; }
.pright-36 { padding-right: 36px; }
.pright-37 { padding-right: 37px; }
.pright-38 { padding-right: 38px; }
.pright-39 { padding-right: 39px; }
.pright-40 { padding-right: 40px; }
.pright-41 { padding-right: 41px; }
.pright-42 { padding-right: 42px; }
.pright-43 { padding-right: 43px; }
.pright-44 { padding-right: 44px; }
.pright-45 { padding-right: 45px; }
.pright-46 { padding-right: 46px; }
.pright-47 { padding-right: 47px; }
.pright-48 { padding-right: 48px; }
.pright-49 { padding-right: 49px; }
.pright-50 { padding-right: 50px; }
.pright-51 { padding-right: 51px; }
.pright-52 { padding-right: 52px; }
.pright-53 { padding-right: 53px; }
.pright-54 { padding-right: 54px; }
.pright-55 { padding-right: 55px; }
.pright-56 { padding-right: 56px; }
.pright-57 { padding-right: 57px; }
.pright-58 { padding-right: 58px; }
.pright-59 { padding-right: 59px; }
.pright-60 { padding-right: 60px; }
.pright-61 { padding-right: 61px; }
.pright-62 { padding-right: 62px; }
.pright-63 { padding-right: 63px; }
.pright-64 { padding-right: 64px; }
.pright-65 { padding-right: 65px; }
.pright-66 { padding-right: 66px; }
.pright-67 { padding-right: 67px; }
.pright-68 { padding-right: 68px; }
.pright-69 { padding-right: 69px; }
.pright-70 { padding-right: 70px; }
.pright-71 { padding-right: 71px; }
.pright-72 { padding-right: 72px; }
.pright-73 { padding-right: 73px; }
.pright-74 { padding-right: 74px; }
.pright-75 { padding-right: 75px; }
.pright-76 { padding-right: 76px; }
.pright-77 { padding-right: 77px; }
.pright-78 { padding-right: 78px; }
.pright-79 { padding-right: 79px; }
.pright-80 { padding-right: 80px; }
.pright-81 { padding-right: 81px; }
.pright-82 { padding-right: 82px; }
.pright-83 { padding-right: 83px; }
.pright-84 { padding-right: 84px; }
.pright-85 { padding-right: 85px; }
.pright-86 { padding-right: 86px; }
.pright-87 { padding-right: 87px; }
.pright-88 { padding-right: 88px; }
.pright-89 { padding-right: 89px; }
.pright-90 { padding-right: 90px; }
.pright-91 { padding-right: 91px; }
.pright-92 { padding-right: 92px; }
.pright-93 { padding-right: 93px; }
.pright-94 { padding-right: 94px; }
.pright-95 { padding-right: 95px; }
.pright-96 { padding-right: 96px; }
.pright-97 { padding-right: 97px; }
.pright-98 { padding-right: 98px; }
.pright-99 { padding-right: 99px; }
.pright-100 { padding-right: 100px; }

/* PADDING LEFT */

.pleft-0 { padding-left: 0px; }
.pleft-1 { padding-left: 1px; }
.pleft-2 { padding-left: 2px; }
.pleft-3 { padding-left: 3px; }
.pleft-4 { padding-left: 4px; }
.pleft-5 { padding-left: 5px; }
.pleft-6 { padding-left: 6px; }
.pleft-7 { padding-left: 7px; }
.pleft-8 { padding-left: 8px; }
.pleft-9 { padding-left: 9px; }
.pleft-10 { padding-left: 10px; }
.pleft-11 { padding-left: 11px; }
.pleft-12 { padding-left: 12px; }
.pleft-13 { padding-left: 13px; }
.pleft-14 { padding-left: 14px; }
.pleft-15 { padding-left: 15px; }
.pleft-16 { padding-left: 16px; }
.pleft-17 { padding-left: 17px; }
.pleft-18 { padding-left: 18px; }
.pleft-19 { padding-left: 19px; }
.pleft-20 { padding-left: 20px; }
.pleft-21 { padding-left: 21px; }
.pleft-22 { padding-left: 22px; }
.pleft-23 { padding-left: 23px; }
.pleft-24 { padding-left: 24px; }
.pleft-25 { padding-left: 25px; }
.pleft-26 { padding-left: 26px; }
.pleft-27 { padding-left: 27px; }
.pleft-28 { padding-left: 28px; }
.pleft-29 { padding-left: 29px; }
.pleft-30 { padding-left: 30px; }
.pleft-31 { padding-left: 31px; }
.pleft-32 { padding-left: 32px; }
.pleft-33 { padding-left: 33px; }
.pleft-34 { padding-left: 34px; }
.pleft-35 { padding-left: 35px; }
.pleft-36 { padding-left: 36px; }
.pleft-37 { padding-left: 37px; }
.pleft-38 { padding-left: 38px; }
.pleft-39 { padding-left: 39px; }
.pleft-40 { padding-left: 40px; }
.pleft-41 { padding-left: 41px; }
.pleft-42 { padding-left: 42px; }
.pleft-43 { padding-left: 43px; }
.pleft-44 { padding-left: 44px; }
.pleft-45 { padding-left: 45px; }
.pleft-46 { padding-left: 46px; }
.pleft-47 { padding-left: 47px; }
.pleft-48 { padding-left: 48px; }
.pleft-49 { padding-left: 49px; }
.pleft-50 { padding-left: 50px; }
.pleft-51 { padding-left: 51px; }
.pleft-52 { padding-left: 52px; }
.pleft-53 { padding-left: 53px; }
.pleft-54 { padding-left: 54px; }
.pleft-55 { padding-left: 55px; }
.pleft-56 { padding-left: 56px; }
.pleft-57 { padding-left: 57px; }
.pleft-58 { padding-left: 58px; }
.pleft-59 { padding-left: 59px; }
.pleft-60 { padding-left: 60px; }
.pleft-61 { padding-left: 61px; }
.pleft-62 { padding-left: 62px; }
.pleft-63 { padding-left: 63px; }
.pleft-64 { padding-left: 64px; }
.pleft-65 { padding-left: 65px; }
.pleft-66 { padding-left: 66px; }
.pleft-67 { padding-left: 67px; }
.pleft-68 { padding-left: 68px; }
.pleft-69 { padding-left: 69px; }
.pleft-70 { padding-left: 70px; }
.pleft-71 { padding-left: 71px; }
.pleft-72 { padding-left: 72px; }
.pleft-73 { padding-left: 73px; }
.pleft-74 { padding-left: 74px; }
.pleft-75 { padding-left: 75px; }
.pleft-76 { padding-left: 76px; }
.pleft-77 { padding-left: 77px; }
.pleft-78 { padding-left: 78px; }
.pleft-79 { padding-left: 79px; }
.pleft-80 { padding-left: 80px; }
.pleft-81 { padding-left: 81px; }
.pleft-82 { padding-left: 82px; }
.pleft-83 { padding-left: 83px; }
.pleft-84 { padding-left: 84px; }
.pleft-85 { padding-left: 85px; }
.pleft-86 { padding-left: 86px; }
.pleft-87 { padding-left: 87px; }
.pleft-88 { padding-left: 88px; }
.pleft-89 { padding-left: 89px; }
.pleft-90 { padding-left: 90px; }
.pleft-91 { padding-left: 91px; }
.pleft-92 { padding-left: 92px; }
.pleft-93 { padding-left: 93px; }
.pleft-94 { padding-left: 94px; }
.pleft-95 { padding-left: 95px; }
.pleft-96 { padding-left: 96px; }
.pleft-97 { padding-left: 97px; }
.pleft-98 { padding-left: 98px; }
.pleft-99 { padding-left: 99px; }
.pleft-100 { padding-left: 100px; }

/* PADDING TOP */

.ptop-0 { padding-top: 0px; }
.ptop-1 { padding-top: 1px; }
.ptop-2 { padding-top: 2px; }
.ptop-3 { padding-top: 3px; }
.ptop-4 { padding-top: 4px; }
.ptop-5 { padding-top: 5px; }
.ptop-6 { padding-top: 6px; }
.ptop-7 { padding-top: 7px; }
.ptop-8 { padding-top: 8px; }
.ptop-9 { padding-top: 9px; }
.ptop-10 { padding-top: 10px; }
.ptop-11 { padding-top: 11px; }
.ptop-12 { padding-top: 12px; }
.ptop-13 { padding-top: 13px; }
.ptop-14 { padding-top: 14px; }
.ptop-15 { padding-top: 15px; }
.ptop-16 { padding-top: 16px; }
.ptop-17 { padding-top: 17px; }
.ptop-18 { padding-top: 18px; }
.ptop-19 { padding-top: 19px; }
.ptop-20 { padding-top: 20px; }
.ptop-21 { padding-top: 21px; }
.ptop-22 { padding-top: 22px; }
.ptop-23 { padding-top: 23px; }
.ptop-24 { padding-top: 24px; }
.ptop-25 { padding-top: 25px; }
.ptop-26 { padding-top: 26px; }
.ptop-27 { padding-top: 27px; }
.ptop-28 { padding-top: 28px; }
.ptop-29 { padding-top: 29px; }
.ptop-30 { padding-top: 30px; }
.ptop-31 { padding-top: 31px; }
.ptop-32 { padding-top: 32px; }
.ptop-33 { padding-top: 33px; }
.ptop-34 { padding-top: 34px; }
.ptop-35 { padding-top: 35px; }
.ptop-36 { padding-top: 36px; }
.ptop-37 { padding-top: 37px; }
.ptop-38 { padding-top: 38px; }
.ptop-39 { padding-top: 39px; }
.ptop-40 { padding-top: 40px; }
.ptop-41 { padding-top: 41px; }
.ptop-42 { padding-top: 42px; }
.ptop-43 { padding-top: 43px; }
.ptop-44 { padding-top: 44px; }
.ptop-45 { padding-top: 45px; }
.ptop-46 { padding-top: 46px; }
.ptop-47 { padding-top: 47px; }
.ptop-48 { padding-top: 48px; }
.ptop-49 { padding-top: 49px; }
.ptop-50 { padding-top: 50px; }
.ptop-51 { padding-top: 51px; }
.ptop-52 { padding-top: 52px; }
.ptop-53 { padding-top: 53px; }
.ptop-54 { padding-top: 54px; }
.ptop-55 { padding-top: 55px; }
.ptop-56 { padding-top: 56px; }
.ptop-57 { padding-top: 57px; }
.ptop-58 { padding-top: 58px; }
.ptop-59 { padding-top: 59px; }
.ptop-60 { padding-top: 60px; }
.ptop-61 { padding-top: 61px; }
.ptop-62 { padding-top: 62px; }
.ptop-63 { padding-top: 63px; }
.ptop-64 { padding-top: 64px; }
.ptop-65 { padding-top: 65px; }
.ptop-66 { padding-top: 66px; }
.ptop-67 { padding-top: 67px; }
.ptop-68 { padding-top: 68px; }
.ptop-69 { padding-top: 69px; }
.ptop-70 { padding-top: 70px; }
.ptop-71 { padding-top: 71px; }
.ptop-72 { padding-top: 72px; }
.ptop-73 { padding-top: 73px; }
.ptop-74 { padding-top: 74px; }
.ptop-75 { padding-top: 75px; }
.ptop-76 { padding-top: 76px; }
.ptop-77 { padding-top: 77px; }
.ptop-78 { padding-top: 78px; }
.ptop-79 { padding-top: 79px; }
.ptop-80 { padding-top: 80px; }
.ptop-81 { padding-top: 81px; }
.ptop-82 { padding-top: 82px; }
.ptop-83 { padding-top: 83px; }
.ptop-84 { padding-top: 84px; }
.ptop-85 { padding-top: 85px; }
.ptop-86 { padding-top: 86px; }
.ptop-87 { padding-top: 87px; }
.ptop-88 { padding-top: 88px; }
.ptop-89 { padding-top: 89px; }
.ptop-90 { padding-top: 90px; }
.ptop-91 { padding-top: 91px; }
.ptop-92 { padding-top: 92px; }
.ptop-93 { padding-top: 93px; }
.ptop-94 { padding-top: 94px; }
.ptop-95 { padding-top: 95px; }
.ptop-96 { padding-top: 96px; }
.ptop-97 { padding-top: 97px; }
.ptop-98 { padding-top: 98px; }
.ptop-99 { padding-top: 99px; }
.ptop-100 { padding-top: 100px; }

/* PADDING BOTTOM */

.pbot-0 { padding-bottom: 0px; }
.pbot-1 { padding-bottom: 1px; }
.pbot-2 { padding-bottom: 2px; }
.pbot-3 { padding-bottom: 3px; }
.pbot-4 { padding-bottom: 4px; }
.pbot-5 { padding-bottom: 5px; }
.pbot-6 { padding-bottom: 6px; }
.pbot-7 { padding-bottom: 7px; }
.pbot-8 { padding-bottom: 8px; }
.pbot-9 { padding-bottom: 9px; }
.pbot-10 { padding-bottom: 10px; }
.pbot-11 { padding-bottom: 11px; }
.pbot-12 { padding-bottom: 12px; }
.pbot-13 { padding-bottom: 13px; }
.pbot-14 { padding-bottom: 14px; }
.pbot-15 { padding-bottom: 15px; }
.pbot-16 { padding-bottom: 16px; }
.pbot-17 { padding-bottom: 17px; }
.pbot-18 { padding-bottom: 18px; }
.pbot-19 { padding-bottom: 19px; }
.pbot-20 { padding-bottom: 20px; }
.pbot-21 { padding-bottom: 21px; }
.pbot-22 { padding-bottom: 22px; }
.pbot-23 { padding-bottom: 23px; }
.pbot-24 { padding-bottom: 24px; }
.pbot-25 { padding-bottom: 25px; }
.pbot-26 { padding-bottom: 26px; }
.pbot-27 { padding-bottom: 27px; }
.pbot-28 { padding-bottom: 28px; }
.pbot-29 { padding-bottom: 29px; }
.pbot-30 { padding-bottom: 30px; }
.pbot-31 { padding-bottom: 31px; }
.pbot-32 { padding-bottom: 32px; }
.pbot-33 { padding-bottom: 33px; }
.pbot-34 { padding-bottom: 34px; }
.pbot-35 { padding-bottom: 35px; }
.pbot-36 { padding-bottom: 36px; }
.pbot-37 { padding-bottom: 37px; }
.pbot-38 { padding-bottom: 38px; }
.pbot-39 { padding-bottom: 39px; }
.pbot-40 { padding-bottom: 40px; }
.pbot-41 { padding-bottom: 41px; }
.pbot-42 { padding-bottom: 42px; }
.pbot-43 { padding-bottom: 43px; }
.pbot-44 { padding-bottom: 44px; }
.pbot-45 { padding-bottom: 45px; }
.pbot-46 { padding-bottom: 46px; }
.pbot-47 { padding-bottom: 47px; }
.pbot-48 { padding-bottom: 48px; }
.pbot-49 { padding-bottom: 49px; }
.pbot-50 { padding-bottom: 50px; }
.pbot-51 { padding-bottom: 51px; }
.pbot-52 { padding-bottom: 52px; }
.pbot-53 { padding-bottom: 53px; }
.pbot-54 { padding-bottom: 54px; }
.pbot-55 { padding-bottom: 55px; }
.pbot-56 { padding-bottom: 56px; }
.pbot-57 { padding-bottom: 57px; }
.pbot-58 { padding-bottom: 58px; }
.pbot-59 { padding-bottom: 59px; }
.pbot-60 { padding-bottom: 60px; }
.pbot-61 { padding-bottom: 61px; }
.pbot-62 { padding-bottom: 62px; }
.pbot-63 { padding-bottom: 63px; }
.pbot-64 { padding-bottom: 64px; }
.pbot-65 { padding-bottom: 65px; }
.pbot-66 { padding-bottom: 66px; }
.pbot-67 { padding-bottom: 67px; }
.pbot-68 { padding-bottom: 68px; }
.pbot-69 { padding-bottom: 69px; }
.pbot-70 { padding-bottom: 70px; }
.pbot-71 { padding-bottom: 71px; }
.pbot-72 { padding-bottom: 72px; }
.pbot-73 { padding-bottom: 73px; }
.pbot-74 { padding-bottom: 74px; }
.pbot-75 { padding-bottom: 75px; }
.pbot-76 { padding-bottom: 76px; }
.pbot-77 { padding-bottom: 77px; }
.pbot-78 { padding-bottom: 78px; }
.pbot-79 { padding-bottom: 79px; }
.pbot-80 { padding-bottom: 80px; }
.pbot-81 { padding-bottom: 81px; }
.pbot-82 { padding-bottom: 82px; }
.pbot-83 { padding-bottom: 83px; }
.pbot-84 { padding-bottom: 84px; }
.pbot-85 { padding-bottom: 85px; }
.pbot-86 { padding-bottom: 86px; }
.pbot-87 { padding-bottom: 87px; }
.pbot-88 { padding-bottom: 88px; }
.pbot-89 { padding-bottom: 89px; }
.pbot-90 { padding-bottom: 90px; }
.pbot-91 { padding-bottom: 91px; }
.pbot-92 { padding-bottom: 92px; }
.pbot-93 { padding-bottom: 93px; }
.pbot-94 { padding-bottom: 94px; }
.pbot-95 { padding-bottom: 95px; }
.pbot-96 { padding-bottom: 96px; }
.pbot-97 { padding-bottom: 97px; }
.pbot-98 { padding-bottom: 98px; }
.pbot-99 { padding-bottom: 99px; }
.pbot-100 { padding-bottom: 100px; }

/* PADDING */

.pad-0 { padding: 0px; }
.pad-1 { padding: 1px; }
.pad-2 { padding: 2px; }
.pad-3 { padding: 3px; }
.pad-4 { padding: 4px; }
.pad-5 { padding: 5px; }
.pad-6 { padding: 6px; }
.pad-7 { padding: 7px; }
.pad-8 { padding: 8px; }
.pad-9 { padding: 9px; }
.pad-10 { padding: 10px; }
.pad-11 { padding: 11px; }
.pad-12 { padding: 12px; }
.pad-13 { padding: 13px; }
.pad-14 { padding: 14px; }
.pad-15 { padding: 15px; }
.pad-16 { padding: 16px; }
.pad-17 { padding: 17px; }
.pad-18 { padding: 18px; }
.pad-19 { padding: 19px; }
.pad-20 { padding: 20px; }
.pad-21 { padding: 21px; }
.pad-22 { padding: 22px; }
.pad-23 { padding: 23px; }
.pad-24 { padding: 24px; }
.pad-25 { padding: 25px; }
.pad-26 { padding: 26px; }
.pad-27 { padding: 27px; }
.pad-28 { padding: 28px; }
.pad-29 { padding: 29px; }
.pad-30 { padding: 30px; }
.pad-31 { padding: 31px; }
.pad-32 { padding: 32px; }
.pad-33 { padding: 33px; }
.pad-34 { padding: 34px; }
.pad-35 { padding: 35px; }
.pad-36 { padding: 36px; }
.pad-37 { padding: 37px; }
.pad-38 { padding: 38px; }
.pad-39 { padding: 39px; }
.pad-40 { padding: 40px; }
.pad-41 { padding: 41px; }
.pad-42 { padding: 42px; }
.pad-43 { padding: 43px; }
.pad-44 { padding: 44px; }
.pad-45 { padding: 45px; }
.pad-46 { padding: 46px; }
.pad-47 { padding: 47px; }
.pad-48 { padding: 48px; }
.pad-49 { padding: 49px; }
.pad-50 { padding: 50px; }
.pad-51 { padding: 51px; }
.pad-52 { padding: 52px; }
.pad-53 { padding: 53px; }
.pad-54 { padding: 54px; }
.pad-55 { padding: 55px; }
.pad-56 { padding: 56px; }
.pad-57 { padding: 57px; }
.pad-58 { padding: 58px; }
.pad-59 { padding: 59px; }
.pad-60 { padding: 60px; }
.pad-61 { padding: 61px; }
.pad-62 { padding: 62px; }
.pad-63 { padding: 63px; }
.pad-64 { padding: 64px; }
.pad-65 { padding: 65px; }
.pad-66 { padding: 66px; }
.pad-67 { padding: 67px; }
.pad-68 { padding: 68px; }
.pad-69 { padding: 69px; }
.pad-70 { padding: 70px; }
.pad-71 { padding: 71px; }
.pad-72 { padding: 72px; }
.pad-73 { padding: 73px; }
.pad-74 { padding: 74px; }
.pad-75 { padding: 75px; }
.pad-76 { padding: 76px; }
.pad-77 { padding: 77px; }
.pad-78 { padding: 78px; }
.pad-79 { padding: 79px; }
.pad-80 { padding: 80px; }
.pad-81 { padding: 81px; }
.pad-82 { padding: 82px; }
.pad-83 { padding: 83px; }
.pad-84 { padding: 84px; }
.pad-85 { padding: 85px; }
.pad-86 { padding: 86px; }
.pad-87 { padding: 87px; }
.pad-88 { padding: 88px; }
.pad-89 { padding: 89px; }
.pad-90 { padding: 90px; }
.pad-91 { padding: 91px; }
.pad-92 { padding: 92px; }
.pad-93 { padding: 93px; }
.pad-94 { padding: 94px; }
.pad-95 { padding: 95px; }
.pad-96 { padding: 96px; }
.pad-97 { padding: 97px; }
.pad-98 { padding: 98px; }
.pad-99 { padding: 99px; }
.pad-100 { padding: 100px; }

/* MARGIN BOTTOM */

.mbot-0 { margin-bottom: 0px; }
.mbot-1 { margin-bottom: 1px; }
.mbot-2 { margin-bottom: 2px; }
.mbot-3 { margin-bottom: 3px; }
.mbot-4 { margin-bottom: 4px; }
.mbot-5 { margin-bottom: 5px; }
.mbot-6 { margin-bottom: 6px; }
.mbot-7 { margin-bottom: 7px; }
.mbot-8 { margin-bottom: 8px; }
.mbot-9 { margin-bottom: 9px; }
.mbot-10 { margin-bottom: 10px; }
.mbot-11 { margin-bottom: 11px; }
.mbot-12 { margin-bottom: 12px; }
.mbot-13 { margin-bottom: 13px; }
.mbot-14 { margin-bottom: 14px; }
.mbot-15 { margin-bottom: 15px; }
.mbot-16 { margin-bottom: 16px; }
.mbot-17 { margin-bottom: 17px; }
.mbot-18 { margin-bottom: 18px; }
.mbot-19 { margin-bottom: 19px; }
.mbot-20 { margin-bottom: 20px; }
.mbot-21 { margin-bottom: 21px; }
.mbot-22 { margin-bottom: 22px; }
.mbot-23 { margin-bottom: 23px; }
.mbot-24 { margin-bottom: 24px; }
.mbot-25 { margin-bottom: 25px; }
.mbot-26 { margin-bottom: 26px; }
.mbot-27 { margin-bottom: 27px; }
.mbot-28 { margin-bottom: 28px; }
.mbot-29 { margin-bottom: 29px; }
.mbot-30 { margin-bottom: 30px; }
.mbot-31 { margin-bottom: 31px; }
.mbot-32 { margin-bottom: 32px; }
.mbot-33 { margin-bottom: 33px; }
.mbot-34 { margin-bottom: 34px; }
.mbot-35 { margin-bottom: 35px; }
.mbot-36 { margin-bottom: 36px; }
.mbot-37 { margin-bottom: 37px; }
.mbot-38 { margin-bottom: 38px; }
.mbot-39 { margin-bottom: 39px; }
.mbot-40 { margin-bottom: 40px; }
.mbot-41 { margin-bottom: 41px; }
.mbot-42 { margin-bottom: 42px; }
.mbot-43 { margin-bottom: 43px; }
.mbot-44 { margin-bottom: 44px; }
.mbot-45 { margin-bottom: 45px; }
.mbot-46 { margin-bottom: 46px; }
.mbot-47 { margin-bottom: 47px; }
.mbot-48 { margin-bottom: 48px; }
.mbot-49 { margin-bottom: 49px; }
.mbot-50 { margin-bottom: 50px; }
.mbot-51 { margin-bottom: 51px; }
.mbot-52 { margin-bottom: 52px; }
.mbot-53 { margin-bottom: 53px; }
.mbot-54 { margin-bottom: 54px; }
.mbot-55 { margin-bottom: 55px; }
.mbot-56 { margin-bottom: 56px; }
.mbot-57 { margin-bottom: 57px; }
.mbot-58 { margin-bottom: 58px; }
.mbot-59 { margin-bottom: 59px; }
.mbot-60 { margin-bottom: 60px; }
.mbot-61 { margin-bottom: 61px; }
.mbot-62 { margin-bottom: 62px; }
.mbot-63 { margin-bottom: 63px; }
.mbot-64 { margin-bottom: 64px; }
.mbot-65 { margin-bottom: 65px; }
.mbot-66 { margin-bottom: 66px; }
.mbot-67 { margin-bottom: 67px; }
.mbot-68 { margin-bottom: 68px; }
.mbot-69 { margin-bottom: 69px; }
.mbot-70 { margin-bottom: 70px; }
.mbot-71 { margin-bottom: 71px; }
.mbot-72 { margin-bottom: 72px; }
.mbot-73 { margin-bottom: 73px; }
.mbot-74 { margin-bottom: 74px; }
.mbot-75 { margin-bottom: 75px; }
.mbot-76 { margin-bottom: 76px; }
.mbot-77 { margin-bottom: 77px; }
.mbot-78 { margin-bottom: 78px; }
.mbot-79 { margin-bottom: 79px; }
.mbot-80 { margin-bottom: 80px; }
.mbot-81 { margin-bottom: 81px; }
.mbot-82 { margin-bottom: 82px; }
.mbot-83 { margin-bottom: 83px; }
.mbot-84 { margin-bottom: 84px; }
.mbot-85 { margin-bottom: 85px; }
.mbot-86 { margin-bottom: 86px; }
.mbot-87 { margin-bottom: 87px; }
.mbot-88 { margin-bottom: 88px; }
.mbot-89 { margin-bottom: 89px; }
.mbot-90 { margin-bottom: 90px; }
.mbot-91 { margin-bottom: 91px; }
.mbot-92 { margin-bottom: 92px; }
.mbot-93 { margin-bottom: 93px; }
.mbot-94 { margin-bottom: 94px; }
.mbot-95 { margin-bottom: 95px; }
.mbot-96 { margin-bottom: 96px; }
.mbot-97 { margin-bottom: 97px; }
.mbot-98 { margin-bottom: 98px; }
.mbot-99 { margin-bottom: 99px; }
.mbot-100 { margin-bottom: 100px; }

/* MARGIN LEFT */

.mleft-0 { margin-left: 0px; }
.mleft-1 { margin-left: 1px; }
.mleft-2 { margin-left: 2px; }
.mleft-3 { margin-left: 3px; }
.mleft-4 { margin-left: 4px; }
.mleft-5 { margin-left: 5px; }
.mleft-6 { margin-left: 6px; }
.mleft-7 { margin-left: 7px; }
.mleft-8 { margin-left: 8px; }
.mleft-9 { margin-left: 9px; }
.mleft-10 { margin-left: 10px; }
.mleft-11 { margin-left: 11px; }
.mleft-12 { margin-left: 12px; }
.mleft-13 { margin-left: 13px; }
.mleft-14 { margin-left: 14px; }
.mleft-15 { margin-left: 15px; }
.mleft-16 { margin-left: 16px; }
.mleft-17 { margin-left: 17px; }
.mleft-18 { margin-left: 18px; }
.mleft-19 { margin-left: 19px; }
.mleft-20 { margin-left: 20px; }
.mleft-21 { margin-left: 21px; }
.mleft-22 { margin-left: 22px; }
.mleft-23 { margin-left: 23px; }
.mleft-24 { margin-left: 24px; }
.mleft-25 { margin-left: 25px; }
.mleft-26 { margin-left: 26px; }
.mleft-27 { margin-left: 27px; }
.mleft-28 { margin-left: 28px; }
.mleft-29 { margin-left: 29px; }
.mleft-30 { margin-left: 30px; }
.mleft-31 { margin-left: 31px; }
.mleft-32 { margin-left: 32px; }
.mleft-33 { margin-left: 33px; }
.mleft-34 { margin-left: 34px; }
.mleft-35 { margin-left: 35px; }
.mleft-36 { margin-left: 36px; }
.mleft-37 { margin-left: 37px; }
.mleft-38 { margin-left: 38px; }
.mleft-39 { margin-left: 39px; }
.mleft-40 { margin-left: 40px; }
.mleft-41 { margin-left: 41px; }
.mleft-42 { margin-left: 42px; }
.mleft-43 { margin-left: 43px; }
.mleft-44 { margin-left: 44px; }
.mleft-45 { margin-left: 45px; }
.mleft-46 { margin-left: 46px; }
.mleft-47 { margin-left: 47px; }
.mleft-48 { margin-left: 48px; }
.mleft-49 { margin-left: 49px; }
.mleft-50 { margin-left: 50px; }
.mleft-51 { margin-left: 51px; }
.mleft-52 { margin-left: 52px; }
.mleft-53 { margin-left: 53px; }
.mleft-54 { margin-left: 54px; }
.mleft-55 { margin-left: 55px; }
.mleft-56 { margin-left: 56px; }
.mleft-57 { margin-left: 57px; }
.mleft-58 { margin-left: 58px; }
.mleft-59 { margin-left: 59px; }
.mleft-60 { margin-left: 60px; }
.mleft-61 { margin-left: 61px; }
.mleft-62 { margin-left: 62px; }
.mleft-63 { margin-left: 63px; }
.mleft-64 { margin-left: 64px; }
.mleft-65 { margin-left: 65px; }
.mleft-66 { margin-left: 66px; }
.mleft-67 { margin-left: 67px; }
.mleft-68 { margin-left: 68px; }
.mleft-69 { margin-left: 69px; }
.mleft-70 { margin-left: 70px; }
.mleft-71 { margin-left: 71px; }
.mleft-72 { margin-left: 72px; }
.mleft-73 { margin-left: 73px; }
.mleft-74 { margin-left: 74px; }
.mleft-75 { margin-left: 75px; }
.mleft-76 { margin-left: 76px; }
.mleft-77 { margin-left: 77px; }
.mleft-78 { margin-left: 78px; }
.mleft-79 { margin-left: 79px; }
.mleft-80 { margin-left: 80px; }
.mleft-81 { margin-left: 81px; }
.mleft-82 { margin-left: 82px; }
.mleft-83 { margin-left: 83px; }
.mleft-84 { margin-left: 84px; }
.mleft-85 { margin-left: 85px; }
.mleft-86 { margin-left: 86px; }
.mleft-87 { margin-left: 87px; }
.mleft-88 { margin-left: 88px; }
.mleft-89 { margin-left: 89px; }
.mleft-90 { margin-left: 90px; }
.mleft-91 { margin-left: 91px; }
.mleft-92 { margin-left: 92px; }
.mleft-93 { margin-left: 93px; }
.mleft-94 { margin-left: 94px; }
.mleft-95 { margin-left: 95px; }
.mleft-96 { margin-left: 96px; }
.mleft-97 { margin-left: 97px; }
.mleft-98 { margin-left: 98px; }
.mleft-99 { margin-left: 99px; }
.mleft-100 { margin-left: 100px; }

/* MARGIN RIGHT */

.mright-0 { margin-right: 0px; }
.mright-1 { margin-right: 1px; }
.mright-2 { margin-right: 2px; }
.mright-3 { margin-right: 3px; }
.mright-4 { margin-right: 4px; }
.mright-5 { margin-right: 5px; }
.mright-6 { margin-right: 6px; }
.mright-7 { margin-right: 7px; }
.mright-8 { margin-right: 8px; }
.mright-9 { margin-right: 9px; }
.mright-10 { margin-right: 10px; }
.mright-11 { margin-right: 11px; }
.mright-12 { margin-right: 12px; }
.mright-13 { margin-right: 13px; }
.mright-14 { margin-right: 14px; }
.mright-15 { margin-right: 15px; }
.mright-16 { margin-right: 16px; }
.mright-17 { margin-right: 17px; }
.mright-18 { margin-right: 18px; }
.mright-19 { margin-right: 19px; }
.mright-20 { margin-right: 20px; }
.mright-21 { margin-right: 21px; }
.mright-22 { margin-right: 22px; }
.mright-23 { margin-right: 23px; }
.mright-24 { margin-right: 24px; }
.mright-25 { margin-right: 25px; }
.mright-26 { margin-right: 26px; }
.mright-27 { margin-right: 27px; }
.mright-28 { margin-right: 28px; }
.mright-29 { margin-right: 29px; }
.mright-30 { margin-right: 30px; }
.mright-31 { margin-right: 31px; }
.mright-32 { margin-right: 32px; }
.mright-33 { margin-right: 33px; }
.mright-34 { margin-right: 34px; }
.mright-35 { margin-right: 35px; }
.mright-36 { margin-right: 36px; }
.mright-37 { margin-right: 37px; }
.mright-38 { margin-right: 38px; }
.mright-39 { margin-right: 39px; }
.mright-40 { margin-right: 40px; }
.mright-41 { margin-right: 41px; }
.mright-42 { margin-right: 42px; }
.mright-43 { margin-right: 43px; }
.mright-44 { margin-right: 44px; }
.mright-45 { margin-right: 45px; }
.mright-46 { margin-right: 46px; }
.mright-47 { margin-right: 47px; }
.mright-48 { margin-right: 48px; }
.mright-49 { margin-right: 49px; }
.mright-50 { margin-right: 50px; }
.mright-51 { margin-right: 51px; }
.mright-52 { margin-right: 52px; }
.mright-53 { margin-right: 53px; }
.mright-54 { margin-right: 54px; }
.mright-55 { margin-right: 55px; }
.mright-56 { margin-right: 56px; }
.mright-57 { margin-right: 57px; }
.mright-58 { margin-right: 58px; }
.mright-59 { margin-right: 59px; }
.mright-60 { margin-right: 60px; }
.mright-61 { margin-right: 61px; }
.mright-62 { margin-right: 62px; }
.mright-63 { margin-right: 63px; }
.mright-64 { margin-right: 64px; }
.mright-65 { margin-right: 65px; }
.mright-66 { margin-right: 66px; }
.mright-67 { margin-right: 67px; }
.mright-68 { margin-right: 68px; }
.mright-69 { margin-right: 69px; }
.mright-70 { margin-right: 70px; }
.mright-71 { margin-right: 71px; }
.mright-72 { margin-right: 72px; }
.mright-73 { margin-right: 73px; }
.mright-74 { margin-right: 74px; }
.mright-75 { margin-right: 75px; }
.mright-76 { margin-right: 76px; }
.mright-77 { margin-right: 77px; }
.mright-78 { margin-right: 78px; }
.mright-79 { margin-right: 79px; }
.mright-80 { margin-right: 80px; }
.mright-81 { margin-right: 81px; }
.mright-82 { margin-right: 82px; }
.mright-83 { margin-right: 83px; }
.mright-84 { margin-right: 84px; }
.mright-85 { margin-right: 85px; }
.mright-86 { margin-right: 86px; }
.mright-87 { margin-right: 87px; }
.mright-88 { margin-right: 88px; }
.mright-89 { margin-right: 89px; }
.mright-90 { margin-right: 90px; }
.mright-91 { margin-right: 91px; }
.mright-92 { margin-right: 92px; }
.mright-93 { margin-right: 93px; }
.mright-94 { margin-right: 94px; }
.mright-95 { margin-right: 95px; }
.mright-96 { margin-right: 96px; }
.mright-97 { margin-right: 97px; }
.mright-98 { margin-right: 98px; }
.mright-99 { margin-right: 99px; }
.mright-100 { margin-right: 100px; }

/* MARGIN TOP */

.mtop-0 { margin-top: 0px; }
.mtop-1 { margin-top: 1px; }
.mtop-2 { margin-top: 2px; }
.mtop-3 { margin-top: 3px; }
.mtop-4 { margin-top: 4px; }
.mtop-5 { margin-top: 5px; }
.mtop-6 { margin-top: 6px; }
.mtop-7 { margin-top: 7px; }
.mtop-8 { margin-top: 8px; }
.mtop-9 { margin-top: 9px; }
.mtop-10 { margin-top: 10px; }
.mtop-11 { margin-top: 11px; }
.mtop-12 { margin-top: 12px; }
.mtop-13 { margin-top: 13px; }
.mtop-14 { margin-top: 14px; }
.mtop-15 { margin-top: 15px; }
.mtop-16 { margin-top: 16px; }
.mtop-17 { margin-top: 17px; }
.mtop-18 { margin-top: 18px; }
.mtop-19 { margin-top: 19px; }
.mtop-20 { margin-top: 20px; }
.mtop-21 { margin-top: 21px; }
.mtop-22 { margin-top: 22px; }
.mtop-23 { margin-top: 23px; }
.mtop-24 { margin-top: 24px; }
.mtop-25 { margin-top: 25px; }
.mtop-26 { margin-top: 26px; }
.mtop-27 { margin-top: 27px; }
.mtop-28 { margin-top: 28px; }
.mtop-29 { margin-top: 29px; }
.mtop-30 { margin-top: 30px; }
.mtop-31 { margin-top: 31px; }
.mtop-32 { margin-top: 32px; }
.mtop-33 { margin-top: 33px; }
.mtop-34 { margin-top: 34px; }
.mtop-35 { margin-top: 35px; }
.mtop-36 { margin-top: 36px; }
.mtop-37 { margin-top: 37px; }
.mtop-38 { margin-top: 38px; }
.mtop-39 { margin-top: 39px; }
.mtop-40 { margin-top: 40px; }
.mtop-41 { margin-top: 41px; }
.mtop-42 { margin-top: 42px; }
.mtop-43 { margin-top: 43px; }
.mtop-44 { margin-top: 44px; }
.mtop-45 { margin-top: 45px; }
.mtop-46 { margin-top: 46px; }
.mtop-47 { margin-top: 47px; }
.mtop-48 { margin-top: 48px; }
.mtop-49 { margin-top: 49px; }
.mtop-50 { margin-top: 50px; }
.mtop-51 { margin-top: 51px; }
.mtop-52 { margin-top: 52px; }
.mtop-53 { margin-top: 53px; }
.mtop-54 { margin-top: 54px; }
.mtop-55 { margin-top: 55px; }
.mtop-56 { margin-top: 56px; }
.mtop-57 { margin-top: 57px; }
.mtop-58 { margin-top: 58px; }
.mtop-59 { margin-top: 59px; }
.mtop-60 { margin-top: 60px; }
.mtop-61 { margin-top: 61px; }
.mtop-62 { margin-top: 62px; }
.mtop-63 { margin-top: 63px; }
.mtop-64 { margin-top: 64px; }
.mtop-65 { margin-top: 65px; }
.mtop-66 { margin-top: 66px; }
.mtop-67 { margin-top: 67px; }
.mtop-68 { margin-top: 68px; }
.mtop-69 { margin-top: 69px; }
.mtop-70 { margin-top: 70px; }
.mtop-71 { margin-top: 71px; }
.mtop-72 { margin-top: 72px; }
.mtop-73 { margin-top: 73px; }
.mtop-74 { margin-top: 74px; }
.mtop-75 { margin-top: 75px; }
.mtop-76 { margin-top: 76px; }
.mtop-77 { margin-top: 77px; }
.mtop-78 { margin-top: 78px; }
.mtop-79 { margin-top: 79px; }
.mtop-80 { margin-top: 80px; }
.mtop-81 { margin-top: 81px; }
.mtop-82 { margin-top: 82px; }
.mtop-83 { margin-top: 83px; }
.mtop-84 { margin-top: 84px; }
.mtop-85 { margin-top: 85px; }
.mtop-86 { margin-top: 86px; }
.mtop-87 { margin-top: 87px; }
.mtop-88 { margin-top: 88px; }
.mtop-89 { margin-top: 89px; }
.mtop-90 { margin-top: 90px; }
.mtop-91 { margin-top: 91px; }
.mtop-92 { margin-top: 92px; }
.mtop-93 { margin-top: 93px; }
.mtop-94 { margin-top: 94px; }
.mtop-95 { margin-top: 95px; }
.mtop-96 { margin-top: 96px; }
.mtop-97 { margin-top: 97px; }
.mtop-98 { margin-top: 98px; }
.mtop-99 { margin-top: 99px; }
.mtop-100 { margin-top: 100px; }

/* MARGIN */

.mar-0 { margin: 0px; }
.mar-1 { margin: 1px; }
.mar-2 { margin: 2px; }
.mar-3 { margin: 3px; }
.mar-4 { margin: 4px; }
.mar-5 { margin: 5px; }
.mar-6 { margin: 6px; }
.mar-7 { margin: 7px; }
.mar-8 { margin: 8px; }
.mar-9 { margin: 9px; }
.mar-10 { margin: 10px; }
.mar-11 { margin: 11px; }
.mar-12 { margin: 12px; }
.mar-13 { margin: 13px; }
.mar-14 { margin: 14px; }
.mar-15 { margin: 15px; }
.mar-16 { margin: 16px; }
.mar-17 { margin: 17px; }
.mar-18 { margin: 18px; }
.mar-19 { margin: 19px; }
.mar-20 { margin: 20px; }
.mar-21 { margin: 21px; }
.mar-22 { margin: 22px; }
.mar-23 { margin: 23px; }
.mar-24 { margin: 24px; }
.mar-25 { margin: 25px; }
.mar-26 { margin: 26px; }
.mar-27 { margin: 27px; }
.mar-28 { margin: 28px; }
.mar-29 { margin: 29px; }
.mar-30 { margin: 30px; }
.mar-31 { margin: 31px; }
.mar-32 { margin: 32px; }
.mar-33 { margin: 33px; }
.mar-34 { margin: 34px; }
.mar-35 { margin: 35px; }
.mar-36 { margin: 36px; }
.mar-37 { margin: 37px; }
.mar-38 { margin: 38px; }
.mar-39 { margin: 39px; }
.mar-40 { margin: 40px; }
.mar-41 { margin: 41px; }
.mar-42 { margin: 42px; }
.mar-43 { margin: 43px; }
.mar-44 { margin: 44px; }
.mar-45 { margin: 45px; }
.mar-46 { margin: 46px; }
.mar-47 { margin: 47px; }
.mar-48 { margin: 48px; }
.mar-49 { margin: 49px; }
.mar-50 { margin: 50px; }
.mar-51 { margin: 51px; }
.mar-52 { margin: 52px; }
.mar-53 { margin: 53px; }
.mar-54 { margin: 54px; }
.mar-55 { margin: 55px; }
.mar-56 { margin: 56px; }
.mar-57 { margin: 57px; }
.mar-58 { margin: 58px; }
.mar-59 { margin: 59px; }
.mar-60 { margin: 60px; }
.mar-61 { margin: 61px; }
.mar-62 { margin: 62px; }
.mar-63 { margin: 63px; }
.mar-64 { margin: 64px; }
.mar-65 { margin: 65px; }
.mar-66 { margin: 66px; }
.mar-67 { margin: 67px; }
.mar-68 { margin: 68px; }
.mar-69 { margin: 69px; }
.mar-70 { margin: 70px; }
.mar-71 { margin: 71px; }
.mar-72 { margin: 72px; }
.mar-73 { margin: 73px; }
.mar-74 { margin: 74px; }
.mar-75 { margin: 75px; }
.mar-76 { margin: 76px; }
.mar-77 { margin: 77px; }
.mar-78 { margin: 78px; }
.mar-79 { margin: 79px; }
.mar-80 { margin: 80px; }
.mar-81 { margin: 81px; }
.mar-82 { margin: 82px; }
.mar-83 { margin: 83px; }
.mar-84 { margin: 84px; }
.mar-85 { margin: 85px; }
.mar-86 { margin: 86px; }
.mar-87 { margin: 87px; }
.mar-88 { margin: 88px; }
.mar-89 { margin: 89px; }
.mar-90 { margin: 90px; }
.mar-91 { margin: 91px; }
.mar-92 { margin: 92px; }
.mar-93 { margin: 93px; }
.mar-94 { margin: 94px; }
.mar-95 { margin: 95px; }
.mar-96 { margin: 96px; }
.mar-97 { margin: 97px; }
.mar-98 { margin: 98px; }
.mar-99 { margin: 99px; }
.mar-100 { margin: 100px; }

/* BORDER RADIUS */

.br-0 { border-radius: 0px; }
.br-1 { border-radius: 1px; }
.br-2 { border-radius: 2px; }
.br-3 { border-radius: 3px; }
.br-4 { border-radius: 4px; }
.br-5 { border-radius: 5px; }
.br-6 { border-radius: 6px; }
.br-7 { border-radius: 7px; }
.br-8 { border-radius: 8px; }
.br-9 { border-radius: 9px; }
.br-10 { border-radius: 10px; }
.br-11 { border-radius: 11px; }
.br-12 { border-radius: 12px; }
.br-13 { border-radius: 13px; }
.br-14 { border-radius: 14px; }
.br-15 { border-radius: 15px; }
.br-16 { border-radius: 16px; }
.br-17 { border-radius: 17px; }
.br-18 { border-radius: 18px; }
.br-19 { border-radius: 19px; }
.br-20 { border-radius: 20px; }
.br-21 { border-radius: 21px; }
.br-22 { border-radius: 22px; }
.br-23 { border-radius: 23px; }
.br-24 { border-radius: 24px; }
.br-25 { border-radius: 25px; }
.br-26 { border-radius: 26px; }
.br-27 { border-radius: 27px; }
.br-28 { border-radius: 28px; }
.br-29 { border-radius: 29px; }
.br-30 { border-radius: 30px; }
.br-31 { border-radius: 31px; }
.br-32 { border-radius: 32px; }
.br-33 { border-radius: 33px; }
.br-34 { border-radius: 34px; }
.br-35 { border-radius: 35px; }
.br-36 { border-radius: 36px; }
.br-37 { border-radius: 37px; }
.br-38 { border-radius: 38px; }
.br-39 { border-radius: 39px; }
.br-40 { border-radius: 40px; }
.br-41 { border-radius: 41px; }
.br-42 { border-radius: 42px; }
.br-43 { border-radius: 43px; }
.br-44 { border-radius: 44px; }
.br-45 { border-radius: 45px; }
.br-46 { border-radius: 46px; }
.br-47 { border-radius: 47px; }
.br-48 { border-radius: 48px; }
.br-49 { border-radius: 49px; }
.br-50 { border-radius: 50px; }
.br-51 { border-radius: 51px; }
.br-52 { border-radius: 52px; }
.br-53 { border-radius: 53px; }
.br-54 { border-radius: 54px; }
.br-55 { border-radius: 55px; }
.br-56 { border-radius: 56px; }
.br-57 { border-radius: 57px; }
.br-58 { border-radius: 58px; }
.br-59 { border-radius: 59px; }
.br-60 { border-radius: 60px; }
.br-61 { border-radius: 61px; }
.br-62 { border-radius: 62px; }
.br-63 { border-radius: 63px; }
.br-64 { border-radius: 64px; }
.br-65 { border-radius: 65px; }
.br-66 { border-radius: 66px; }
.br-67 { border-radius: 67px; }
.br-68 { border-radius: 68px; }
.br-69 { border-radius: 69px; }
.br-70 { border-radius: 70px; }
.br-71 { border-radius: 71px; }
.br-72 { border-radius: 72px; }
.br-73 { border-radius: 73px; }
.br-74 { border-radius: 74px; }
.br-75 { border-radius: 75px; }
.br-76 { border-radius: 76px; }
.br-77 { border-radius: 77px; }
.br-78 { border-radius: 78px; }
.br-79 { border-radius: 79px; }
.br-80 { border-radius: 80px; }
.br-81 { border-radius: 81px; }
.br-82 { border-radius: 82px; }
.br-83 { border-radius: 83px; }
.br-84 { border-radius: 84px; }
.br-85 { border-radius: 85px; }
.br-86 { border-radius: 86px; }
.br-87 { border-radius: 87px; }
.br-88 { border-radius: 88px; }
.br-89 { border-radius: 89px; }
.br-90 { border-radius: 90px; }
.br-91 { border-radius: 91px; }
.br-92 { border-radius: 92px; }
.br-93 { border-radius: 93px; }
.br-94 { border-radius: 94px; }
.br-95 { border-radius: 95px; }
.br-96 { border-radius: 96px; }
.br-97 { border-radius: 97px; }
.br-98 { border-radius: 98px; }
.br-99 { border-radius: 99px; }
.br-100 { border-radius: 100px; }

/* BORDER WIDTH */

.bw-0 { border-width: 0px; }
.bw-1 { border-width: 1px; }
.bw-2 { border-width: 2px; }
.bw-3 { border-width: 3px; }
.bw-4 { border-width: 4px; }
.bw-5 { border-width: 5px; }
.bw-6 { border-width: 6px; }
.bw-7 { border-width: 7px; }
.bw-8 { border-width: 8px; }
.bw-9 { border-width: 9px; }
.bw-10 { border-width: 10px; }
.bw-11 { border-width: 11px; }
.bw-12 { border-width: 12px; }
.bw-13 { border-width: 13px; }
.bw-14 { border-width: 14px; }
.bw-15 { border-width: 15px; }
.bw-16 { border-width: 16px; }
.bw-17 { border-width: 17px; }
.bw-18 { border-width: 18px; }
.bw-19 { border-width: 19px; }
.bw-20 { border-width: 20px; }
.bw-21 { border-width: 21px; }
.bw-22 { border-width: 22px; }
.bw-23 { border-width: 23px; }
.bw-24 { border-width: 24px; }
.bw-25 { border-width: 25px; }
.bw-26 { border-width: 26px; }
.bw-27 { border-width: 27px; }
.bw-28 { border-width: 28px; }
.bw-29 { border-width: 29px; }
.bw-30 { border-width: 30px; }
.bw-31 { border-width: 31px; }
.bw-32 { border-width: 32px; }
.bw-33 { border-width: 33px; }
.bw-34 { border-width: 34px; }
.bw-35 { border-width: 35px; }
.bw-36 { border-width: 36px; }
.bw-37 { border-width: 37px; }
.bw-38 { border-width: 38px; }
.bw-39 { border-width: 39px; }
.bw-40 { border-width: 40px; }
.bw-41 { border-width: 41px; }
.bw-42 { border-width: 42px; }
.bw-43 { border-width: 43px; }
.bw-44 { border-width: 44px; }
.bw-45 { border-width: 45px; }
.bw-46 { border-width: 46px; }
.bw-47 { border-width: 47px; }
.bw-48 { border-width: 48px; }
.bw-49 { border-width: 49px; }
.bw-50 { border-width: 50px; }
.bw-51 { border-width: 51px; }
.bw-52 { border-width: 52px; }
.bw-53 { border-width: 53px; }
.bw-54 { border-width: 54px; }
.bw-55 { border-width: 55px; }
.bw-56 { border-width: 56px; }
.bw-57 { border-width: 57px; }
.bw-58 { border-width: 58px; }
.bw-59 { border-width: 59px; }
.bw-60 { border-width: 60px; }
.bw-61 { border-width: 61px; }
.bw-62 { border-width: 62px; }
.bw-63 { border-width: 63px; }
.bw-64 { border-width: 64px; }
.bw-65 { border-width: 65px; }
.bw-66 { border-width: 66px; }
.bw-67 { border-width: 67px; }
.bw-68 { border-width: 68px; }
.bw-69 { border-width: 69px; }
.bw-70 { border-width: 70px; }
.bw-71 { border-width: 71px; }
.bw-72 { border-width: 72px; }
.bw-73 { border-width: 73px; }
.bw-74 { border-width: 74px; }
.bw-75 { border-width: 75px; }
.bw-76 { border-width: 76px; }
.bw-77 { border-width: 77px; }
.bw-78 { border-width: 78px; }
.bw-79 { border-width: 79px; }
.bw-80 { border-width: 80px; }
.bw-81 { border-width: 81px; }
.bw-82 { border-width: 82px; }
.bw-83 { border-width: 83px; }
.bw-84 { border-width: 84px; }
.bw-85 { border-width: 85px; }
.bw-86 { border-width: 86px; }
.bw-87 { border-width: 87px; }
.bw-88 { border-width: 88px; }
.bw-89 { border-width: 89px; }
.bw-90 { border-width: 90px; }
.bw-91 { border-width: 91px; }
.bw-92 { border-width: 92px; }
.bw-93 { border-width: 93px; }
.bw-94 { border-width: 94px; }
.bw-95 { border-width: 95px; }
.bw-96 { border-width: 96px; }
.bw-97 { border-width: 97px; }
.bw-98 { border-width: 98px; }
.bw-99 { border-width: 99px; }
.bw-100 { border-width: 100px; }

/* FONT SIZE */

.fs-1 { font-size: 1px; }
.fs-2 { font-size: 2px; }
.fs-3 { font-size: 3px; }
.fs-4 { font-size: 4px; }
.fs-5 { font-size: 5px; }
.fs-6 { font-size: 6px; }
.fs-7 { font-size: 7px; }
.fs-8 { font-size: 8px; }
.fs-9 { font-size: 9px; }
.fs-10 { font-size: 10px; }
.fs-11 { font-size: 11px; }
.fs-12 { font-size: 12px; }
.fs-13 { font-size: 13px; }
.fs-14 { font-size: 14px; }
.fs-15 { font-size: 15px; }
.fs-16 { font-size: 16px; }
.fs-17 { font-size: 17px; }
.fs-18 { font-size: 18px; }
.fs-19 { font-size: 19px; }
.fs-20 { font-size: 20px; }
.fs-21 { font-size: 21px; }
.fs-22 { font-size: 22px; }
.fs-23 { font-size: 23px; }
.fs-24 { font-size: 24px; }
.fs-25 { font-size: 25px; }
.fs-26 { font-size: 26px; }
.fs-27 { font-size: 27px; }
.fs-28 { font-size: 28px; }
.fs-29 { font-size: 29px; }
.fs-30 { font-size: 30px; }
.fs-31 { font-size: 31px; }
.fs-32 { font-size: 32px; }
.fs-33 { font-size: 33px; }
.fs-34 { font-size: 34px; }
.fs-35 { font-size: 35px; }
.fs-36 { font-size: 36px; }
.fs-37 { font-size: 37px; }
.fs-38 { font-size: 38px; }
.fs-39 { font-size: 39px; }
.fs-40 { font-size: 40px; }
.fs-41 { font-size: 41px; }
.fs-42 { font-size: 42px; }
.fs-43 { font-size: 43px; }
.fs-44 { font-size: 44px; }
.fs-45 { font-size: 45px; }
.fs-46 { font-size: 46px; }
.fs-47 { font-size: 47px; }
.fs-48 { font-size: 48px; }
.fs-49 { font-size: 49px; }
.fs-50 { font-size: 50px; }
.fs-51 { font-size: 51px; }
.fs-52 { font-size: 52px; }
.fs-53 { font-size: 53px; }
.fs-54 { font-size: 54px; }
.fs-55 { font-size: 55px; }
.fs-56 { font-size: 56px; }
.fs-57 { font-size: 57px; }
.fs-58 { font-size: 58px; }
.fs-59 { font-size: 59px; }
.fs-60 { font-size: 60px; }
.fs-61 { font-size: 61px; }
.fs-62 { font-size: 62px; }
.fs-63 { font-size: 63px; }
.fs-64 { font-size: 64px; }
.fs-65 { font-size: 65px; }
.fs-66 { font-size: 66px; }
.fs-67 { font-size: 67px; }
.fs-68 { font-size: 68px; }
.fs-69 { font-size: 69px; }
.fs-70 { font-size: 70px; }
.fs-71 { font-size: 71px; }
.fs-72 { font-size: 72px; }
.fs-73 { font-size: 73px; }
.fs-74 { font-size: 74px; }
.fs-75 { font-size: 75px; }
.fs-76 { font-size: 76px; }
.fs-77 { font-size: 77px; }
.fs-78 { font-size: 78px; }
.fs-79 { font-size: 79px; }
.fs-80 { font-size: 80px; }
.fs-81 { font-size: 81px; }
.fs-82 { font-size: 82px; }
.fs-83 { font-size: 83px; }
.fs-84 { font-size: 84px; }
.fs-85 { font-size: 85px; }
.fs-86 { font-size: 86px; }
.fs-87 { font-size: 87px; }
.fs-88 { font-size: 88px; }
.fs-89 { font-size: 89px; }
.fs-90 { font-size: 90px; }
.fs-91 { font-size: 91px; }
.fs-92 { font-size: 92px; }
.fs-93 { font-size: 93px; }
.fs-94 { font-size: 94px; }
.fs-95 { font-size: 95px; }
.fs-96 { font-size: 96px; }
.fs-97 { font-size: 97px; }
.fs-98 { font-size: 98px; }
.fs-99 { font-size: 99px; }
.fs-100 { font-size: 100px; }
.fs-101 { font-size: 101px; }
.fs-102 { font-size: 102px; }
.fs-103 { font-size: 103px; }
.fs-104 { font-size: 104px; }
.fs-105 { font-size: 105px; }
.fs-106 { font-size: 106px; }
.fs-107 { font-size: 107px; }
.fs-108 { font-size: 108px; }
.fs-109 { font-size: 109px; }
.fs-110 { font-size: 110px; }
.fs-111 { font-size: 111px; }
.fs-112 { font-size: 112px; }
.fs-113 { font-size: 113px; }
.fs-114 { font-size: 114px; }
.fs-115 { font-size: 115px; }
.fs-116 { font-size: 116px; }
.fs-117 { font-size: 117px; }
.fs-118 { font-size: 118px; }
.fs-119 { font-size: 119px; }
.fs-120 { font-size: 120px; }
.fs-121 { font-size: 121px; }
.fs-122 { font-size: 122px; }
.fs-123 { font-size: 123px; }
.fs-124 { font-size: 124px; }
.fs-125 { font-size: 125px; }
.fs-126 { font-size: 126px; }
.fs-127 { font-size: 127px; }
.fs-128 { font-size: 128px; }
.fs-129 { font-size: 129px; }
.fs-130 { font-size: 130px; }
.fs-131 { font-size: 131px; }
.fs-132 { font-size: 132px; }
.fs-133 { font-size: 133px; }
.fs-134 { font-size: 134px; }
.fs-135 { font-size: 135px; }
.fs-136 { font-size: 136px; }
.fs-137 { font-size: 137px; }
.fs-138 { font-size: 138px; }
.fs-139 { font-size: 139px; }
.fs-140 { font-size: 140px; }
.fs-141 { font-size: 141px; }
.fs-142 { font-size: 142px; }
.fs-143 { font-size: 143px; }
.fs-144 { font-size: 144px; }
.fs-145 { font-size: 145px; }
.fs-146 { font-size: 146px; }
.fs-147 { font-size: 147px; }
.fs-148 { font-size: 148px; }
.fs-149 { font-size: 149px; }
.fs-150 { font-size: 150px; }
.fs-151 { font-size: 151px; }
.fs-152 { font-size: 152px; }
.fs-153 { font-size: 153px; }
.fs-154 { font-size: 154px; }
.fs-155 { font-size: 155px; }
.fs-156 { font-size: 156px; }
.fs-157 { font-size: 157px; }
.fs-158 { font-size: 158px; }
.fs-159 { font-size: 159px; }
.fs-160 { font-size: 160px; }
.fs-161 { font-size: 161px; }
.fs-162 { font-size: 162px; }
.fs-163 { font-size: 163px; }
.fs-164 { font-size: 164px; }
.fs-165 { font-size: 165px; }
.fs-166 { font-size: 166px; }
.fs-167 { font-size: 167px; }
.fs-168 { font-size: 168px; }
.fs-169 { font-size: 169px; }
.fs-170 { font-size: 170px; }
.fs-171 { font-size: 171px; }
.fs-172 { font-size: 172px; }
.fs-173 { font-size: 173px; }
.fs-174 { font-size: 174px; }
.fs-175 { font-size: 175px; }
.fs-176 { font-size: 176px; }
.fs-177 { font-size: 177px; }
.fs-178 { font-size: 178px; }
.fs-179 { font-size: 179px; }
.fs-180 { font-size: 180px; }
.fs-181 { font-size: 181px; }
.fs-182 { font-size: 182px; }
.fs-183 { font-size: 183px; }
.fs-184 { font-size: 184px; }
.fs-185 { font-size: 185px; }
.fs-186 { font-size: 186px; }
.fs-187 { font-size: 187px; }
.fs-188 { font-size: 188px; }
.fs-189 { font-size: 189px; }
.fs-190 { font-size: 190px; }
.fs-191 { font-size: 191px; }
.fs-192 { font-size: 192px; }
.fs-193 { font-size: 193px; }
.fs-194 { font-size: 194px; }
.fs-195 { font-size: 195px; }
.fs-196 { font-size: 196px; }
.fs-197 { font-size: 197px; }
.fs-198 { font-size: 198px; }
.fs-199 { font-size: 199px; }
.fs-200 { font-size: 200px; }
.fs-201 { font-size: 201px; }
.fs-202 { font-size: 202px; }
.fs-203 { font-size: 203px; }
.fs-204 { font-size: 204px; }
.fs-205 { font-size: 205px; }
.fs-206 { font-size: 206px; }
.fs-207 { font-size: 207px; }
.fs-208 { font-size: 208px; }
.fs-209 { font-size: 209px; }
.fs-210 { font-size: 210px; }
.fs-211 { font-size: 211px; }
.fs-212 { font-size: 212px; }
.fs-213 { font-size: 213px; }
.fs-214 { font-size: 214px; }
.fs-215 { font-size: 215px; }
.fs-216 { font-size: 216px; }
.fs-217 { font-size: 217px; }
.fs-218 { font-size: 218px; }
.fs-219 { font-size: 219px; }
.fs-220 { font-size: 220px; }
.fs-221 { font-size: 221px; }
.fs-222 { font-size: 222px; }
.fs-223 { font-size: 223px; }
.fs-224 { font-size: 224px; }
.fs-225 { font-size: 225px; }
.fs-226 { font-size: 226px; }
.fs-227 { font-size: 227px; }
.fs-228 { font-size: 228px; }
.fs-229 { font-size: 229px; }
.fs-230 { font-size: 230px; }
.fs-231 { font-size: 231px; }
.fs-232 { font-size: 232px; }
.fs-233 { font-size: 233px; }
.fs-234 { font-size: 234px; }
.fs-235 { font-size: 235px; }
.fs-236 { font-size: 236px; }
.fs-237 { font-size: 237px; }
.fs-238 { font-size: 238px; }
.fs-239 { font-size: 239px; }
.fs-240 { font-size: 240px; }
.fs-241 { font-size: 241px; }
.fs-242 { font-size: 242px; }
.fs-243 { font-size: 243px; }
.fs-244 { font-size: 244px; }
.fs-245 { font-size: 245px; }
.fs-246 { font-size: 246px; }
.fs-247 { font-size: 247px; }
.fs-248 { font-size: 248px; }
.fs-249 { font-size: 249px; }
.fs-250 { font-size: 250px; }
.fs-251 { font-size: 251px; }
.fs-252 { font-size: 252px; }
.fs-253 { font-size: 253px; }
.fs-254 { font-size: 254px; }
.fs-255 { font-size: 255px; }
.fs-256 { font-size: 256px; }
.fs-257 { font-size: 257px; }
.fs-258 { font-size: 258px; }
.fs-259 { font-size: 259px; }
.fs-260 { font-size: 260px; }
.fs-261 { font-size: 261px; }
.fs-262 { font-size: 262px; }
.fs-263 { font-size: 263px; }
.fs-264 { font-size: 264px; }
.fs-265 { font-size: 265px; }
.fs-266 { font-size: 266px; }
.fs-267 { font-size: 267px; }
.fs-268 { font-size: 268px; }
.fs-269 { font-size: 269px; }
.fs-270 { font-size: 270px; }
.fs-271 { font-size: 271px; }
.fs-272 { font-size: 272px; }
.fs-273 { font-size: 273px; }
.fs-274 { font-size: 274px; }
.fs-275 { font-size: 275px; }
.fs-276 { font-size: 276px; }
.fs-277 { font-size: 277px; }
.fs-278 { font-size: 278px; }
.fs-279 { font-size: 279px; }
.fs-280 { font-size: 280px; }
.fs-281 { font-size: 281px; }
.fs-282 { font-size: 282px; }
.fs-283 { font-size: 283px; }
.fs-284 { font-size: 284px; }
.fs-285 { font-size: 285px; }
.fs-286 { font-size: 286px; }
.fs-287 { font-size: 287px; }
.fs-288 { font-size: 288px; }
.fs-289 { font-size: 289px; }
.fs-290 { font-size: 290px; }
.fs-291 { font-size: 291px; }
.fs-292 { font-size: 292px; }
.fs-293 { font-size: 293px; }
.fs-294 { font-size: 294px; }
.fs-295 { font-size: 295px; }
.fs-296 { font-size: 296px; }
.fs-297 { font-size: 297px; }
.fs-298 { font-size: 298px; }
.fs-299 { font-size: 299px; }
.fs-300 { font-size: 300px; }